# Path to Oh My Fish install.
set -gx OMF_PATH "/home/{{username}}/.local/share/omf"

# Customize Oh My Fish configuration path.
#set -gx OMF_CONFIG "/home/{{username}}/.config/omf"

# Load oh-my-fish configuration.
source $OMF_PATH/init.fish

# Disable the Greeting message
set -U fish_greeting

#Eclipse
set SWT_GTK3 0

#NPM
set -x PATH $PATH $HOME/.npm-global/bin
