---
- name: Install poppler-glib
  become: yes
  pacman:
    name: poppler-glib
    state: present
  tags:
    - gimp

- name: Install GIMP
  become: yes
  pacman:
    name:
      - gimp
      - gimp-plugin-gmic
    state: present
  tags:
    - gimp

- name: Jail GIMP
  file:
    src: /usr/bin/firejail
    dest: /usr/local/bin/gimp
    state: link
  tags:
    - gimp
    - firejail

- name: Install GIMP raw support
  become: yes
  pacman:
    name: gimp-nufraw
    state: present
  tags:
    - gimp
